{
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParameters": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true
    },
    "rules": {
        "comma-dangle": [1, "always-multiline"],
        "no-underscore-dangle" : 0,
        "indent": [2,4],
        "max-len": [1, 180, 4],
        "arrow-body-style": [0],
        "import/no-unresolved": [0],
        "no-control-regex": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "valid-typeof": 2,
        "curly": 2,
        "default-case": 2,
        "no-else-return": 2,
        "no-multi-spaces": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "array-bracket-spacing": [ 2, "always" ],
        "comma-style": [ 2, "last" ],
        "key-spacing": [ 2, { "beforeColon": false, "afterColon": true } ],
        "no-irregular-whitespace": 2,
        "keyword-spacing": [2, {"before": true, "after": true}],
        "space-before-blocks": [ 2, "always" ],
        "space-before-function-paren": [ 2, "never" ],
        "spaced-comment": [ 2, "always" ],
        "space-unary-ops": [ 2, { "words": true, "nonwords": false } ],
        "space-infix-ops": 2,
        "comma-spacing": [2, { "before": false, "after": true }],
        "space-in-parens": ["error", "never"],
        "object-curly-spacing": [2, "always", { "arraysInObjects": true, "objectsInObjects": true }],
        "no-trailing-spaces": ["error", { "skipBlankLines": true, "ignoreComments": true }]
    }
}
